@CHARSET "UTF-8";

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-footer {
    padding: 30px 0;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.bs-footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
/* 平板电脑和小屏电脑之间的分辨率 */
@media ( min-width : 768px) {
    .bs-footer {
        text-align: center;
    }
    .bs-footer p {
        margin-bottom: 0;
    }
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media ( max-width : 767px) {
    .bs-footer {
        padding: 15px 0;
        text-align: center;
    }
    .bs-footer p {
        margin-bottom: 0;
    }
}

/* 横向放置的手机及分辨率更小的设备 */
@media ( max-width : 480px) {
    .bs-footer {
        padding: 8px 0;
        text-align: center;
    }
    .bs-footer p {
        margin-bottom: 0;
    }
}